# Dependencias
# Ignora la carpeta de módulos de Node en la raíz del proyecto
/server/node_modules

# Archivos de usuarios
# Ignora la carpeta de archivos subidos
/uploads

# Archivos de build y producción
/dist
/build

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de entorno (¡MUY IMPORTANTE!)
.env
.env.*

# Archivos de IDE y configuración local
.idea
.vscode